<footer>
  <nav class = "round">
    <div>
    <ul>
      <li><%=link_to 'Directions', '#'%>
        <ul>
          <li>Flat Earth Museum</li>
          <li>2799 Bullittsburg Church Rd</li>
          <li>Petersburg, KY 41080</li>
          <li>7 miles W of Cincinnati Airport</li>
        </ul>
      </li>
      <li id="Plan"><%=link_to 'Plan Your Visit', '#'%>
        <ul>
          <li><%=link_to 'Directions', '#'%></li>
          <li><%=link_to 'Hours', '#'%></li>
          <li><%=link_to 'Flat Maps and Flat Directions', '#'%></li>
          <li><%=link_to 'Lodging and Attractions', '#'%></li>
        </ul>
      </li>
      <li id="Activities"><%=link_to 'Activities', '#'%>
        <ul>
          <li><%=link_to 'Tickets', '#'%></li>
          <li><%=link_to 'Exhibits', '#'%></li>
          <li><%=link_to 'Food', '#'%></li>
          <li><%=link_to 'Merchandise', '#'%></li>
        </ul>
      </li>
      <li id="About"><%=link_to 'About the Museum', '#'%>
        <ul>
          <li><%=link_to 'Blog', '#'%></li>
          <li><%=link_to 'Contact Us', '#'%></li>
          <li><%=link_to 'Our Other Beliefs', '#'%></li>
          <li><%=link_to 'Press', '#'%></li>
        </ul>
      </li>
    </ul>
    </div>
  </nav>  
</footer>
