<footer>
  <nav class = "round">
    <ul>
      <li><%=link_to 'Directions', '#'%></li>
        <ul>
          <li>Flat Earth Museum</li>
          <li>2799 Bullittsburg Church Rd</li>
          <li>Petersburg, KY 41080</li>
          <li>* Located seven miles west of the Cincinnati Airport</li>
        </ul>
      <li><%=link_to 'Plan Your Visit', '#'%></li>
        <ul>
          <li><%=link_to 'Who Do You Think Are You?!', '#'%></li>
          <li><%=link_to 'Where Do You Think You Are Going?!', '#'%></li>
          <li><%=link_to 'Hours', '#'%></li>
          <li><%=link_to 'Flat Maps and Flat Directions', '#'%></li>
          <li><%=link_to 'Lodging and Attractions', '#'%></li>
        </ul>
      <li><%=link_to 'Activities', '#'%></li>
        <ul>
          <li><%=link_to 'Tickets', '#'%></li>
          <li><%=link_to 'Exhibits', '#'%></li>
          <li><%=link_to 'Calendar', '#'%></li>
          <li><%=link_to 'Zoo & Gardens', '#'%></li>
          <li><%=link_to 'Theatre', '#'%></li>
          <li><%=link_to 'Food', '#'%></li>
          <li><%=link_to 'Merchandise', '#'%></li>
        </ul>
      <li><%=link_to 'About the Museum', '#'%>
        <ul>
          <li><%=link_to 'Blog', '#'%></li>
          <li><%=link_to 'Give', '#'%></li>
          <li><%=link_to 'Volunteer', '#'%></li>
          <li><%=link_to 'Contact Us', '#'%></li>
          <li><%=link_to 'Our Other Beliefs', '#'%></li>
          <li><%=link_to 'Newsletter', '#'%></li>
          <li><%=link_to 'Press', '#'%></li>
        </ul>
    </ul>
  </nav>
</footer>
