<header>
  <nav class="round">
    <ul>
      <li><%=link_to 'Search', '#'%></li>
      <li><%=link_to 'Donate', '#'%></li>
    </ul>
  </nav>
  <%=image_tag("logo.png", :alt => "Flat Earth Museum", :class => "round")%>
  <div class = "round" id = "menu">
    <ul>
      <li><%= link_to "Home", '#'%>
        <ul>
          <li><%= link_to "link1", '#' %></li>
          <li><%= link_to "link1", '#' %></li>
        </ul>
      </li>
      <li><%= link_to "Visit", '#'%>
        <ul>
          <li><%= link_to "link1", '#' %></li>
          <li><%= link_to "link1", '#' %></li>
        </ul>
      </li>
      <li><%= link_to "Store", '#'%>
        <ul>
          <li><%= link_to "link1", '#' %></li>
          <li><%= link_to "link1", '#' %></li>
        </ul>
      </li>
      <li><%= link_to "Contact", '#'%>
        <ul>
          <li><%= link_to "link1", '#' %></li>
          <li><%= link_to "link1", '#' %></li>
        </ul>
      </li>
      <li><%= link_to "About", '#'%>
        <ul>
          <li><%= link_to "link1", '#' %></li>
          <li><%= link_to "link1", '#' %></li>
        </ul>
      </li>
    </ul>	
  </div>
</header>