<header>
  <div id = "headimg">
  <%=image_tag("flatearth.png", :alt => "Flat Earth Museum")%>
  </div>
  <div class = "round" id = "menu">
    <ul>
      <li><%= link_to "Home", '/home'%>
        <ul>
          <li><%= link_to "link1", '#' %></li>
          <li><%= link_to "link1", '#' %></li>
        </ul>
      </li>
      <li><%= link_to "Visit", '/visit'%>
        <ul>
          <li><%= link_to "link1", '#' %></li>
          <li><%= link_to "link1", '#' %></li>
        </ul>
      </li>
      <li><%= link_to "Shop", '/shop'%>
        <ul>
          <li><%= link_to "link1", '#' %></li>
          <li><%= link_to "link1", '#' %></li>
        </ul>
      </li>
      <li><%= link_to "Contact", '/contact'%>
        <ul>
          <li><%= link_to "link1", '#' %></li>
          <li><%= link_to "link1", '#' %></li>
        </ul>
      </li>
      <li><%= link_to "About", '/about'%>
        <ul>
          <li><%= link_to "link1", '#' %></li>
          <li><%= link_to "link1", '#' %></li>
        </ul>
      </li>
    </ul>	
  </div>
</header>